.selectContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;
}

.selectTextContainer {
  overflow: hidden;
}

.wrapper {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.select {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  padding-right: 30px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.option:hover {
  background-color: rgba(33, 150, 243, 0.3);
}

.option:active {
  background-color: rgba(33, 150, 243, 0.5);
}

.buttonArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: absolute;
  right: 14px;
}

.arrow {
  width: 10px;
  height: 5px;
  transition: transform 0.2s ease;
}

.wrapper.open .arrow {
  transform: rotate(180deg);
}
